<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>tankBattle.view</title>
	</head>
	<body>
		Contiene la gerarchia dei componenti di gioco. Le classi contenute in questo package
		mantengono lo stato del gioco per quanto riguarda gli attori principali, le mappe e la
		scenografia. Il componente principale più importante è <a href="Tank.html">Tank</a>.
	</body>
</html>